.bg--fv {
    height: 100vh;
    background-image: url("../../src/img/fv.webp");
    background-position: center;
    background-size: cover;
}

.bg--service {
    background-image: url("../../src/img/bg.webp");
    background-position: center;
    background-size: cover;
}