.site-title {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 15.91px;

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 105px;
        bottom: -15.91px;
        border-top: 3px solid $blue;
    }
}

.site-title__ttl {
    font-family: 'Zen Kaku Gothic New';
    font-size: 32px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0.1em;
    color: #000000;
}

.site-title__subttl {
    font-family: 'Cormorant Garamond';
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: #000000;
}